.confirmar, .crear, .regresar{
    float: right
}

.float-right{
    float: right
}

.float-left{
    float: left
}

.rounded-corners{
    border-radius: 15px;
}

.ten-percent-padding-left{
    padding-left: 10%;
}

.half-width{
    width:50%
}

.imagen-producto{
    height: 50%;
    width: 50%;
}